@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

svg {
  width: 100%;
  display: block;
}

body {
  background-color: #7CBAA0;
}

.girl{
  width: 100%;
  padding: 1rem;
}

.boy{
  width: 100%;
  padding: 1em;
}

.bottle {
  width: 100%;
  margin-top: 6rem;
}

h1 {
  margin: 1rem;
  color: #C82D38;
  font-family: tahoma;
  text-align: center;
}

h2 {
  margin: 1.5rem;
  color: #C82D38;
  font-family: tahoma;
}

p {
  margin: 1.5rem;
  color: white;
  font-family: tahoma;
}

.population {
  width: 100%;
  padding: 1rem;
}

.data {
  padding: 3rem;
  width: 100%;
}

@media only screen and (min-width: 60em) {

  .data {
    padding: 1.5rem;
    padding: 4rem;
  }
